*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: rgb(231, 231, 231);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px, 1vw, 18px);

}

@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}

main {
    width: 100%;
    height: 100%;

    @include flex-column;
    align-items: center;

    .view1{
        width: 100%;
        @include flex-column(10px);

        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            @include flex-column(60px);
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1.5rem;
            

            .text h1{
                font-weight: 400;
                font-size: 2.3rem;
                text-transform: uppercase;
                
            }

            .text p{
                margin-top: 10px;
                font-size: 1.3rem;
                color: #b0b0b0ef;
                line-height: 1.5;
            }

            button{
                background-color: #bebebe;
                padding: 8px 20px;
                font-size: 1rem;
                margin-top: 1rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .bottom>p{
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0.6;
        }
    }

    .view2{
        width: 100%;
        @include flex-column(2.5rem);
        padding: 1rem 1rem;

        .top, .bottom{
            display: flex;
            justify-content: space-around;
            width: 100%;

            .element{
                @include flex-column(0.2rem);
                text-align: center;

                small{
                    opacity: 0.6;
                }

                h1{
                    font-size: 2.8rem;
                    font-weight: 400;
                }
            }
        }   
    }

    .view3{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.7rem;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .bottom{
            @include flex-column(5rem);
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1.5rem;
        }
        .bottom>p{
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0.6;
        }

        .bottom{
            .text{
                h2{
                    font-size: 2.3rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
            }
            .text p{
                color: #b0b0b0ef;
                line-height: 1.5;
                font-size: 1.3rem;
            }
        }
    }

    .view4{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            @include flex-column(5rem);
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1.3rem;

            .paragraphs p{
                font-size: 1.3rem;
                line-height: 1.5;
                color: #b0b0b0ef;
            }

            h1{
                font-weight: 400;
                font-size: 2.3rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }
        .bottom>p{
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0.6;
        }
    }

    .view5{
        @include flex-column(2rem);
        width: 100%;
        padding: 1rem;

        .card1{
            background: url(./assets/images/card1webp.webp);
        }
        .card2{
            background: url(./assets/images/card2.webp);
        }
        .card3{
            background: url(./assets/images/card3.webp);
        }

        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            aspect-ratio: 1/1;
            background-size: cover;
            padding: 1rem;
            border-radius: 0.7rem;
        }

        .icon, .bottom{
            background-color: rgba(108, 107, 107, 0.553);
            backdrop-filter: blur(5px);
            border: 0.5px solid white;
            padding: 0.5rem;
        }
        .icon{
            border-radius: 50%;
            width: fit-content;
        }
        .top{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }

        .bottom{
            border-radius: 0.7rem;
        }
        .bottom .text{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 1rem;
            text-transform: uppercase;
        }
        
    }

    .view6{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            @include flex-column(1rem);
            background-color: #1E1E1E;
            border-radius: 0.7rem;
            padding: 1.5rem;

            h1{
                font-weight: 400;
                font-size: 2.3rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            button{
                background-color: #bebebe;
                padding: 8px 20px;
                font-size: 1rem;
                margin-top: 1rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
            .text p{
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                opacity: 0.6;
            }
        }
        

    }

    .view7{
        width: 100%;
        padding: 1rem;
        
        .banner{
            background-color: #CEBD63;
            border-radius: 0.7rem;
            color: #1A1A1A;
            padding: 2rem 2rem;
            
            p{
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 400;
            }

            h1{
                font-size: 3rem;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
       
        button{
            margin-top: 1rem;
            width: 100%;
            background-color: #121212;
            color: #bebebe;
            font-size: 1.1rem;
            padding: 1rem 1rem;
            border-radius: 0.7rem;
            border: none;
        }
    }

}

@media (min-width:900px) {
    main{

        .view1{
            flex-direction: row;
            gap: 1rem;

            .top, .bottom{
                width: 50%;
            }

            .bottom>p{
                    font-size: 1rem;
                }
            .bottom{
                justify-content: space-between;
                padding: 3rem 3.5rem;

                .text h1{
                    font-size: 4rem;
                    font-weight: 350;
                }
                .text p{
                    line-height: 1.7;
                    margin-bottom: 1.5rem;
                }
            }
        }

        .view2{
            flex-direction: row;
            padding: 3rem 1rem;
            font-size: 1.3rem;
            text-align: center;

          .top, .bottom{
            .element{
                h1{
                    font-size: 4rem;
                }
            }
          }
        }

        .view3{
            flex-direction: row-reverse;

            .top, .bottom{
                width: 50%;
            }
            .bottom{
                @include flex-column();
                justify-content: space-between;
                padding: 3rem 3.5rem;

                .paragraphs{
                    display: flex;
                    gap: 1rem;
                }
            }

            .bottom {
               .text{
                h2{
                    font-size: 3.5rem;
                    font-weight: 300;
                }
               }
            }
        }

        .view4{
            flex-direction: row;

            .top, .bottom{
                width: 50%;  
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem 3.5rem;

                .paragraphs{
                    display: flex;
                    gap: 1rem;
                }

                .text h1{
                    font-size: 3rem;
                    font-weight: 400;
                }

            }
        }

        .view5{
           flex-direction: row; 

           .card{
            flex: 1;
           }
        }
        
        .view6{
            flex-direction: row;
             
            .top, .bottom{
                width: 50%;
            }
            .bottom{
                padding: 3rem 3.5rem;
                justify-content: space-between;

                 h1{
                    font-size: 3rem;
                    font-weight: 400;
                }
            }
        }

        .view7{

            .banner{
                display: flex;
                flex-direction: row;

                .button{
                    display: flex;
                    justify-content: flex-end;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 2rem;
    
                    h1{
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}
