* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100%;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .card {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;

    .image {
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 500;
      }
      p {
        font-size: 25px;
        color: red;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }

    .buttons{
        button{
            padding: 12px 20px;
            background-color: royalblue;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            margin: 0 5px;
            cursor: pointer;
        }
    }
  }
}
