* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: seagreen;
}
body {
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    // height: 450px;
    width: 300px;
    background-color: #ffff;
    border-radius: 10px;
    position: relative;
    border: 2px solid black;

    .story::-webkit-scrollbar {
      display: none;
    }
    .story {
      height: 120px;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #c7c7c7;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: auto;

      .stories {
        border: 3px solid red;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin-right: 5px;
        overflow: hidden;
        display: inline-block;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
      }
    }

    .full-screen {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      display: none;
      position: absolute;
    }

    .post {
      position: relative;
      margin-bottom: 20px;

      .image {
        position: relative;
        img {
          object-fit: cover;
          height: 250px;
          width: 100%;
          margin-bottom: 8px;
        }
        .heart{
          font-size: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          transform: translate(-50%, -50%) scale(0) rotate(-60deg);

          background: url("https://img.freepik.com/premium-vector/veliky-novgorod-russia-oktober-11-2021-instagram-gradient-background_522680-261.jpg");
          object-fit: cover;
          background-position: center;
          background-clip: text;
          -webkit-background-clip: text;
          transition: cubic-bezier(.61,1.07,.74,1.28) 0.4s;
          color: transparent;
        }

      }

      i {
        font-size: 22px;
        padding: 0 6px;
        cursor: pointer;
      }
       #heart {
          color: white;
          -webkit-text-stroke: 1.8px black;
        }

      #username {
        font-weight: bold;
      }
      .caption-text {
        font-size: 12px;
        padding: 0 6px;
      }
      .visible-part {
        display: inline;
      }

      .hidden-part {
        display: none;
      }
      .caption-text.expanded .hidden-part {
        display: inline;
      }

      .see-more-btn {
        font-size: 12px;
        padding-left: 6px;
        cursor: pointer;
        font-weight: 600;
        color: #555;
      }
    }
  }
}
