*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
}

.card p{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.card p span{
    font-weight: 700;
    color: royalblue;
}
.outer{
    height: 25px;
    width: 100%;
    background-color: rgb(184, 184, 184);
    border-radius: 50px;
    margin-bottom: 20px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.bottom h1{
    font-weight: 500;
    font-size: 50px;
}
.bottom button{
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
}